---
# BasedOnStyle:  Google
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
ColumnLimit:     1150
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth:     4
NamespaceIndentation: All
PointerAlignment: Left
TabWidth:        4
...
